[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-4.3.x.cfg

package-name = collective.geo.geographer
package-extras = [test]
test-eggs =
develop = .


# avoid timeouts by downloading only from known hosts
allow-hosts =
    *.plone.org
    *.python.org
    *.zope.org
    docutils.sourceforge.net
    effbot.org
    prdownloads.sourceforge.net


[versions]
zc.buildout = 1.6.3
